{% extends 'base.html' %}

{% load static %}

{% block head %}
<!--Typed.js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
{% endblock head %}


{% block body %}

<div class = "container mt-5">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <p style="font-size: 30px;"> <span id="typed"></span></p>
          <form method="post" action="#">
          {% csrf_token %}
            <div class="form-group">
              <label for="name" style="font-size: 20px;">Your name:</label>
              <input class="form-control" type="text" id="name" name="name" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="title" style="font-size: 20px;">Complaint title:</label>
              <input class="form-control" type="text" id="title" name="title" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="description" style="font-size: 20px;">Complaint description:</label>
              <textarea class="form-control" id="description" name="description" rows="5"></textarea>
            </div>
            <div 
            <button type="submit" class="btn btn-outline-dark" style="float: right;">Submit</button>
          </form>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>

    
  

  <!-- Typed.js-->
  <script>
     var typed = new Typed('#typed',{
                    strings:["Register your complaint here... "],
                    backSpeed: 15,
                    smartBackspace: true,
                    backDelay: 1200,
                    startDelay: 1000,
                    typeSpeed: 25,
                    loop: false,

                  });
    </script>


{% endblock body %}

